header{
  background-image:url(img/pattern.png);
  width: auto;
  padding: 3%;
  background-color: #007FFF;
}

.container{
    width: 80%;
    margin: auto;
}

header img{
    width: 200px;
}

main h1{
    margin-bottom: 0;
}

#blue{
    color: #00FFFF	;
}

.opaco{
    color: rgba(0,0,0, 0.5);
}

.piccolo{
    font-size: x-small;
}

mark{
    background-color: yellow;
}

.blue{
    background-color:blue ;
}

.white{
    color: white;
}

.centrale{
    padding-left: 250px;
    padding-right: 250px;
}

.titolo{
    width: 100%;
    position: relative;
    right: 200px;    
    }
    
    .lightblue{
        background-color: #007FFF;
    }
   
    
    
aside p{
    margin-top: 30px;
    margin-bottom: 10px;
}

aside div{
    width: 200px;
}
aside img{
    width: 200px;
}

aside span{
   color: white;
   font-weight: bold;
    position: absolute;
    left: 160px;
}